<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">

<link rel="icon"
      href="favicon/favicon.ico">

<link rel="stylesheet" type="text/css" href="./stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="./stylesheets/pygment_trac.css" media="screen">
<link rel="stylesheet" type="text/css" href="./stylesheets/sidebar.css" media="screen">
<link rel="stylesheet" type="text/css" href="./stylesheets/downloads.css" media="screen">
<link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="../stylesheets/pygment_trac.css" media="screen">
<link rel="stylesheet" type="text/css" href="../stylesheets/sidebar.css" media="screen">
<link rel="stylesheet" type="text/css" href="../stylesheets/downloads.css" media="screen">

<title>One RoBust Operating System.</title>

</head>

<body>

  <header>
    <div class="container">

<h1>Orbos</h1>
<h2>It's One RoBust Operating System.</h2>

<section class="downloads">
  <nav>
    <a href="https://github.com/lucid-os/lbf/zipball/dev" class="top-btn">Download as .zip</a>
    <a href="https://github.com/lucid-os/lbf/tarball/dev" class="top-btn">Download as .tar.gz</a>
    <a href="https://github.com/lucid-os/lbf" class="top-btn" target="_blank">View on GitHub</a>
  </nav>
</section>

    </div>
  </header>

<section class="sidebar">
  <nav class="menu">
    <ul class="tree">
      <li>
        <label for="menu_heading1" class="menu-heading">Orb OS</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading1">
        <ul class="subtree">
          <li><a href="http://orbos.github.io/" class="menu-entry">Orb OS Main</a></li>
          <li><a href="http://orbos.github.io/lbf/" class="menu-entry">lbf</a></li>
          <li><a href="http://orbos.github.io/philosophies/index.html" class="menu-entry">Philosophy</a></li>
          <li><a href="http://orbos.github.io/milestones/index.html" class="menu-entry">Milestones</a></li>
          <li><a href="http://orbos.github.io/sb/index.html" class="menu-entry">Support/Bugs</a></li>
        </ul>
        <li>
          <label for="menu_heading2" class="menu-heading">Developers</label>
          <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading2">
          <ul class="subtree">
            <li>
              <label for="menu_subheading1" class="menu-subheading">Founders</label>
              <input type="checkbox" class="menu-heading-box" id="menu_subheading1">
              <ul class="subtree">
                <li><a href="http://edge226.github.io/" class="menu-entry">Edge226</a></li>
                <li><a href="https://github.com/anexation" target="_blank" class="menu-entry">Anex</a></li>
              </ul>
            </li>
            <li><a href="https://github.com/orgs/orbos/people" class="menu-entry">Full Dev List</a></li>
          </ul>
        </li>
      </li>
    </ul>
  </nav>
</section>

  <div class="container">

    <section id="main_content">

<p>Template.</p>

    </section>
  </div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-38401226-6");
    pageTracker._trackPageview();
  } catch (err) {}
</script>

</body>

</html>
