<section class="sidebar">
  <nav class="menu">
    <ul class="tree">
      <li>
        <label for="menu_heading1" class="menu-heading">Orbos</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading1">
        <ul class="subtree">
          <li><a href="http://orbos.github.io/" class="menu-entry">Orbos Main</a></li>
          <li><a href="http://orbos.github.io/lbf/" class="menu-entry">lbf</a></li>
          <li><a href="http://orbos.github.io/ideas" class="menu-entry">Ideas</a></li>
          <li><a href="http://orbos.github.io/milestones/index.html" class="menu-entry">Milestones</a></li>
          <li><a href="http://orbos.github.io/lsb/index.html" class="menu-entry">Support/Bugs</a></li>
        </ul>
        <li>
          <label for="menu_heading2" class="menu-heading">Developers</label>
          <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading2">
          <ul class="subtree">
            <li>
              <label for="menu_subheading1" class="menu-subheading">Founders</label>
              <input type="checkbox" class="menu-heading-box" id="menu_subheading1">
              <ul class="subtree">
                <li><a href="http://edge226.github.io/" class="menu-entry">Edge226</a></li>
                <li><a href="https://github.com/anexation" target="_blank" class="menu-entry">Anex</a></li>
              </ul>
            </li>
            <li><a href="https://github.com/orgs/orbos/people" class="menu-entry">Full Dev List</a></li>
          </ul>
        </li>
      </li>
    </ul>
  </nav>
</section>
